<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show Page</title>
</head>
<body>
  <h1>Show Baked Goods</h1>
  <p>Name: <%= bakedGoods.name %></p>
  <p>Price: <%= bakedGoods.price %></p>
  <img src=<%= bakedGoods.image %>>
  <br/>
  <a href="/bakedgoods/">Back Home</a>
</body>
</html>